.First-block,
.Third-block {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  /* width: 100%; */
}

.Second-block,
.Fourth-block {
  display: flex;
  /* align-items: top; */
  justify-content: center;
  /* width: 100%; */
}

.First-quarter-list,
.Second-quarter-list,
.Third-quarter-list,
.Fourth-quarter-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;

  width: 25%;
  height: 25vh;
  margin: 10px;
  padding: 10px;
  list-style: none;

  border-radius: 10px;
}

.Quarter-header {
  margin: 0;
  padding: 0;
  border: 0;
}

.First-quarter-list {
  background-color: #8db600;
}
.Second-quarter-list {
  background-color: #00cccc;
}
.Third-quarter-list {
  background-color: #ffa500;
}
.Fourth-quarter-list {
  background-color: #d1001c;
}
