.First-block,
.Third-block {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  /* width: 100%; */
}

.Second-block,
.Fourth-block {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  /* width: 100%; */
}

.First-quarter-list,
.Second-quarter-list,
.Third-quarter-list,
.Fourth-quarter-list {
  display: flex;
  flex-direction: column;
  width: 25%;
  height: 25vh;
  align-items: center;
  justify-content: center;

  padding: 10px;
  list-style: none;
}

.First-quarter-list {
  background-color: greenyellow;
}
.Second-quarter-list {
  background-color: rgb(0, 255, 255);
}
.Third-quarter-list {
  background-color: orange;
}
.Fourth-quarter-list {
  background-color: rgb(255, 57, 57);
}
